### Explore Bike Share Data

For this project, your goal is to ask and answer three questions about the available bikeshare data from Washington, Chicago, and New York.  This notebook can be submitted directly through the workspace when you are confident in your results.

You will be graded against the project [Rubric](https://review.udacity.com/#!/rubrics/2508/view) by a mentor after you have submitted.  To get you started, you can use the template below, but feel free to be creative in your solutions!

In [15]:
ny = read.csv('new-york-city.csv')
wash = read.csv('washington.csv')
chi = read.csv('chicago.csv')

In [16]:
head(ny)

  X       Start.Time          End.Time            Trip.Duration
1 5688089 2017-06-11 14:55:05 2017-06-11 15:08:21  795
2 4096714 2017-05-11 15:30:11 2017-05-11 15:41:43  692
3 2173887 2017-03-29 13:26:26 2017-03-29 13:48:31 1325
4 3945638 2017-05-08 19:47:18 2017-05-08 19:59:01  703
5 6208972 2017-06-21 07:49:16 2017-06-21 07:54:46  329
6 1285652 2017-02-22 18:55:24 2017-02-22 19:12:03  998
  Start.Station           End.Station            User.Type  Gender Birth.Year
1 Suffolk St & Stanton St W Broadway & Spring St Subscriber Male   1998
2 Lexington Ave & E 63 St 1 Ave & E 78 St        Subscriber Male   1981
3 1 Pl & Clinton St       Henry St & Degraw St   Subscriber Male   1987
4 Barrow St & Hudson St   W 20 St & 8 Ave        Subscriber Female 1986
5 1 Ave & E 44 St         E 53 St & 3 Ave        Subscriber Male   1992
6 State St & Smith St     Bond St & Fulton St    Subscriber Male   1986

In [17]:
head(wash)

  X       Start.Time          End.Time            Trip.Duration
1 1621326 2017-06-21 08:36:34 2017-06-21 08:44:43  489.066
2  482740 2017-03-11 10:40:00 2017-03-11 10:46:00  402.549
3 1330037 2017-05-30 01:02:59 2017-05-30 01:13:37  637.251
4  665458 2017-04-02 07:48:35 2017-04-02 08:19:03 1827.341
5 1481135 2017-06-10 08:36:28 2017-06-10 09:02:17 1549.427
6 1148202 2017-05-14 07:18:18 2017-05-14 07:24:56  398.000
  Start.Station
1 14th & Belmont St NW
2 Yuma St & Tenley Circle NW
3 17th St & Massachusetts Ave NW
4 Constitution Ave & 2nd St NW/DOL
5 Henry Bacon Dr & Lincoln Memorial Circle NW
6 1st & K St SE
  End.Station                                         User.Type
1 15th & K St NW                                      Subscriber
2 Connecticut Ave & Yuma St NW                        Subscriber
3 5th & K St NW                                       Subscriber
4 M St & Pennsylvania Ave NW                          Customer
5 Maine Ave & 7th St SW                               Subscriber
6 Eastern Market Metro / Pennsylvania Ave & 7th St SE Subscriber

In [18]:
head(chi)

  X       Start.Time          End.Time            Trip.Duration
1 1423854 2017-06-23 15:09:32 2017-06-23 15:14:53  321
2  955915 2017-05-25 18:19:03 2017-05-25 18:45:53 1610
3    9031 2017-01-04 08:27:49 2017-01-04 08:34:45  416
4  304487 2017-03-06 13:49:38 2017-03-06 13:55:28  350
5   45207 2017-01-17 14:53:07 2017-01-17 15:02:01  534
6 1473887 2017-06-26 09:01:20 2017-06-26 09:11:06  586
  Start.Station                 End.Station                  User.Type  Gender
1 Wood St & Hubbard St          Damen Ave & Chicago Ave      Subscriber Male
2 Theater on the Lake           Sheffield Ave & Waveland Ave Subscriber Female
3 May St & Taylor St            Wood St & Taylor St          Subscriber Male
4 Christiana Ave & Lawrence Ave St. Louis Ave & Balmoral Ave Subscriber Male
5 Clark St & Randolph St        Desplaines St & Jackson Blvd Subscriber Male
6 Clinton St & Washington Blvd  Canal St & Taylor St         Subscriber Male
  Birth.Year
1 1992
2 1992
3 1981
4 1986
5 1975
6 1990

### Question 1


**Your question 1 goes here.**

**Summary of your question 1 results goes here.**

### Question 2

**Your question 2 goes here.**

**Summary of your question 2 results goes here.**

### Question 3


**Your question 3 goes here.**

**Summary of your question 2 results goes here.**


## Finishing Up

> Congratulations!  You have reached the end of the Explore Bikeshare Data Project. You should be very proud of all you have accomplished!

> **Tip**: Once you are satisfied with your work here, check over your report to make sure that it is satisfies all the areas of the [rubric](https://review.udacity.com/#!/rubrics/2508/view). 


## Directions to Submit

> Before you submit your project, you need to create a .html or .pdf version of this notebook in the workspace here. To do that, run the code cell below. If it worked correctly, you should get a return code of 0, and you should see the generated .html file in the workspace directory (click on the orange Jupyter icon in the upper left).

> Alternatively, you can download this report as .html via the **File** > **Download as** submenu, and then manually upload it into the workspace directory by clicking on the orange Jupyter icon in the upper left, then using the Upload button.

> Once you've done this, you can submit your project by clicking on the "Submit Project" button in the lower right here. This will create and submit a zip file with this .ipynb doc and the .html or .pdf version you created. Congratulations!

In [12]:
system('python -m nbconvert --to pdf Explore_bikeshare_data.ipynb')